<h1>All Recipes</h1>
<div class="latest_recipe">
    <%if(  matchingRecipe.length>0){%>
        <% matchingRecipe.forEach((recipe)=>{%>
            <a href="/recipeDetails/<%=recipe._id%>" class="latest_recipe_link">
                <div class="latest_recipe_img">
                    <img src="/IMG_RECIPE/<%=recipe.image%>" alt="<%=recipe.name%>>">
                </div>
                <div class="latest_recipe_name">
                    <%=recipe.name%>
                </div>
            </a>
            <%})%>
                <%} else{%>
                    <h1>There are no Categories</h1>
        <%}%>
</div>